
h1{
    color: goldenrod ;
}
* {
    border: navy;
}
.header{
    background-color: blueviolet;
    display:flex;
    justify-content: space-between;
}
.grid{
    display:flex;
    Flex-wrap:wrap;
    justify-content: space-evenly;
}
.footer{
    display:flex;
    justify-content: flex-end;
}
p.h2{
    text-align: center;
}